USE [Cart2.0]
GO
/****** Object:  StoredProcedure [dbo].[uspload_cart_cfpb_complaints_reg]    Script Date: 3/11/2025 10:25:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[uspload_cart_cfpb_complaints_reg]
As
BEGIN

Declare @Load_Date Datetime = Getdate()

MERGE dbo.cart_cfpb_complaints_reg as cart
USING dbo.cart_cfpb_complaints_reg_stage AS stg
on cart.[Complaint_ID] = stg.[Complaint_ID]

WHEN NOT MATCHED BY Target THEN
Insert
(
   [Complaint_ID]
  ,[Complaint_Text]
  ,[Company]
  ,[State]
  ,[Zip_Code]
  ,[Product]
  ,[Sub_product]
  ,[Summarized_Complaint]
  ,[Reg_B_Classification]
  ,[Reg_B_Explanation]
  ,[Reg_B_Solution]
  ,[Reg_B_Solution_Source]
  ,[Reg_C_Classification]
  ,[Reg_C_Explanation]
  ,[Reg_C_Solution]
  ,[Reg_C_Solution_Source]
  ,[Reg_D_Classification]
  ,[Reg_D_Explanation]
  ,[Reg_D_Solution]
  ,[Reg_D_Solution_Source]
  ,[Reg_E_Classification]
  ,[Reg_E_Explanation]
  ,[Reg_E_Solution]
  ,[Reg_E_Solution_Source]
  ,[Reg_F_Classification]
  ,[Reg_F_Explanation]
  ,[Reg_F_Solution]
  ,[Reg_F_Solution_Source]
  ,[Reg_G_Classification]
  ,[Reg_G_Explanation]
  ,[Reg_G_Solution]
  ,[Reg_G_Solution_Source]
  ,[Reg_H_Classification]
  ,[Reg_H_Explanation]
  ,[Reg_H_Solution]
  ,[Reg_H_Solution_Source]
  ,[Reg_I_Classification]
  ,[Reg_I_Explanation]
  ,[Reg_I_Solution]
  ,[Reg_I_Solution_Source]
  ,[Reg_J_Classification]
  ,[Reg_J_Explanation]
  ,[Reg_J_Solution]
  ,[Reg_J_Solution_Source]
  ,[Reg_K_Classification]
  ,[Reg_K_Explanation]
  ,[Reg_K_Solution]
  ,[Reg_K_Solution_Source]
  ,[Reg_L_Classification]
  ,[Reg_L_Explanation]
  ,[Reg_L_Solution]
  ,[Reg_L_Solution_Source]
  ,[Reg_M_Classification]
  ,[Reg_M_Explanation]
  ,[Reg_M_Solution]
  ,[Reg_M_Solution_Source]
  ,[Reg_N_Classification]
  ,[Reg_N_Explanation]
  ,[Reg_N_Solution]
  ,[Reg_N_Solution_Source]
  ,[Reg_O_Classification]
  ,[Reg_O_Explanation]
  ,[Reg_O_Solution]
  ,[Reg_O_Solution_Source]
  ,[Reg_P_Classification]
  ,[Reg_P_Explanation]
  ,[Reg_P_Solution]
  ,[Reg_P_Solution_Source]
  ,[Reg_V_Classification]
  ,[Reg_V_Explanation]
  ,[Reg_V_Solution]
  ,[Reg_V_Solution_Source]
  ,[Reg_X_Classification]
  ,[Reg_X_Explanation]
  ,[Reg_X_Solution]
  ,[Reg_X_Solution_Source]
  ,[Reg_Z_Classification]
  ,[Reg_Z_Explanation]
  ,[Reg_Z_Solution]
  ,[Reg_Z_Solution_Source]
  ,[Reg_CC_Classification]
  ,[Reg_CC_Explanation]
  ,[Reg_CC_Solution]
  ,[Reg_CC_Solution_Source]
  ,[Reg_DD_Classification]
  ,[Reg_DD_Explanation]
  ,[Reg_DD_Solution]
  ,[Reg_DD_Solution_Source]
  ,[Reg_AA_Classification]
  ,[Reg_AA_Explanation]
  ,[Reg_AA_Solution]
  ,[Reg_AA_Solution_Source]
  ,[Loaded_By]
  ,[Cart_Log_Id]
  ,[Load_Date]
)

Values
(
   stg.[Complaint_ID]
  ,stg.[Complaint_Text]
  ,stg.[Company]
  ,stg.[State]
  ,stg.[Zip_Code]
  ,stg.[Product]
  ,stg.[Sub_product]
  ,stg.[Summarized_Complaint]
  ,CASE WHEN stg.[Reg_B_Classification] = 'Yes' THEN 1 ELSE 0 END
  ,stg.[Reg_B_Explanation]
  ,stg.[Reg_B_Solution]
  ,stg.[Reg_B_Solution_Source]
  ,CASE WHEN stg.[Reg_C_Classification] = 'Yes' THEN 1 ELSE 0 END
  ,stg.[Reg_C_Explanation]
  ,stg.[Reg_C_Solution]
  ,stg.[Reg_C_Solution_Source]
  ,CASE WHEN stg.[Reg_D_Classification] = 'Yes' THEN 1 ELSE 0 END
  ,stg.[Reg_D_Explanation]
  ,stg.[Reg_D_Solution]
  ,stg.[Reg_D_Solution_Source]
  ,CASE WHEN stg.[Reg_E_Classification] = 'Yes' THEN 1 ELSE 0 END
  ,stg.[Reg_E_Explanation]
  ,stg.[Reg_E_Solution]
  ,stg.[Reg_E_Solution_Source]
  ,CASE WHEN stg.[Reg_F_Classification] = 'Yes' THEN 1 ELSE 0 END
  ,stg.[Reg_F_Explanation]
  ,stg.[Reg_F_Solution]
  ,stg.[Reg_F_Solution_Source]
  ,CASE WHEN stg.[Reg_G_Classification] = 'Yes' THEN 1 ELSE 0 END
  ,stg.[Reg_G_Explanation]
  ,stg.[Reg_G_Solution]
  ,stg.[Reg_G_Solution_Source]
  ,CASE WHEN stg.[Reg_H_Classification] = 'Yes' THEN 1 ELSE 0 END
  ,stg.[Reg_H_Explanation]
  ,stg.[Reg_H_Solution]
  ,stg.[Reg_H_Solution_Source]
  ,CASE WHEN stg.[Reg_I_Classification] = 'Yes' THEN 1 ELSE 0 END
  ,stg.[Reg_I_Explanation]
  ,stg.[Reg_I_Solution]
  ,stg.[Reg_I_Solution_Source]
  ,CASE WHEN stg.[Reg_J_Classification] = 'Yes' THEN 1 ELSE 0 END
  ,stg.[Reg_J_Explanation]
  ,stg.[Reg_J_Solution]
  ,stg.[Reg_J_Solution_Source]
  ,CASE WHEN stg.[Reg_K_Classification] = 'Yes' THEN 1 ELSE 0 END
  ,stg.[Reg_K_Explanation]
  ,stg.[Reg_K_Solution]
  ,stg.[Reg_K_Solution_Source]
  ,CASE WHEN stg.[Reg_L_Classification] = 'Yes' THEN 1 ELSE 0 END
  ,stg.[Reg_L_Explanation]
  ,stg.[Reg_L_Solution]
  ,stg.[Reg_L_Solution_Source]
  ,CASE WHEN stg.[Reg_M_Classification] = 'Yes' THEN 1 ELSE 0 END
  ,stg.[Reg_M_Explanation]
  ,stg.[Reg_M_Solution]
  ,stg.[Reg_M_Solution_Source]
  ,CASE WHEN stg.[Reg_N_Classification] = 'Yes' THEN 1 ELSE 0 END
  ,stg.[Reg_N_Explanation]
  ,stg.[Reg_N_Solution]
  ,stg.[Reg_N_Solution_Source]
  ,CASE WHEN stg.[Reg_O_Classification] = 'Yes' THEN 1 ELSE 0 END
  ,stg.[Reg_O_Explanation]
  ,stg.[Reg_O_Solution]
  ,stg.[Reg_O_Solution_Source]
  ,CASE WHEN stg.[Reg_O_Classification] = 'Yes' THEN 1 ELSE 0 END
  ,stg.[Reg_P_Explanation]
  ,stg.[Reg_P_Solution]
  ,stg.[Reg_P_Solution_Source]
  ,CASE WHEN stg.[Reg_V_Classification] = 'Yes' THEN 1 ELSE 0 END
  ,stg.[Reg_V_Explanation]
  ,stg.[Reg_V_Solution]
  ,stg.[Reg_V_Solution_Source]
  ,CASE WHEN stg.[Reg_X_Classification] = 'Yes' THEN 1 ELSE 0 END
  ,stg.[Reg_X_Explanation]
  ,stg.[Reg_X_Solution]
  ,stg.[Reg_X_Solution_Source]
  ,CASE WHEN stg.[Reg_Z_Classification] = 'Yes' THEN 1 ELSE 0 END
  ,stg.[Reg_Z_Explanation]
  ,stg.[Reg_Z_Solution]
  ,stg.[Reg_Z_Solution_Source]
  ,CASE WHEN stg.[Reg_CC_Classification] = 'Yes' THEN 1 ELSE 0 END
  ,stg.[Reg_CC_Explanation]
  ,stg.[Reg_CC_Solution]
  ,stg.[Reg_CC_Solution_Source]
  ,CASE WHEN stg.[Reg_DD_Classification] = 'Yes' THEN 1 ELSE 0 END
  ,stg.[Reg_DD_Explanation]
  ,stg.[Reg_DD_Solution]
  ,stg.[Reg_DD_Solution_Source]
  ,CASE WHEN stg.[Reg_AA_Classification] = 'Yes' THEN 1 ELSE 0 END
  ,stg.[Reg_AA_Explanation]
  ,stg.[Reg_AA_Solution]
  ,stg.[Reg_AA_Solution_Source]
  ,stg.[Loaded_By]
  ,stg.[Cart_Log_Id]
  ,@Load_Date
)

WHEN  MATCHED THEN
UPDATE SET
   [Complaint_ID]              =   stg.[Complaint_ID]     
  ,[Complaint_Text]			   =   stg.[Complaint_Text]
  ,[Company]                   =   stg.[Company]            
  ,[State]	                   =   stg.[State]	            
  ,[Zip_Code]                  =   stg.[Zip_Code] 
  ,[Product]                   =   stg.[Product] 
  ,[Sub_product]               =   stg.[Sub_product] 
  ,[Summarized_Complaint]      =   stg.[Summarized_Complaint]
  ,[Reg_B_Classification]	   =   CASE WHEN stg.[Reg_B_Classification] = 'Yes' THEN 1 ELSE 0 END
  ,[Reg_B_Explanation]		   =   stg.[Reg_B_Explanation]
  ,[Reg_B_Solution]			   =   stg.[Reg_B_Solution]
  ,[Reg_B_Solution_Source]	   =   stg.[Reg_B_Solution_Source]
  ,[Reg_C_Classification]	   =   CASE WHEN stg.[Reg_C_Classification] = 'Yes' THEN 1 ELSE 0 END
  ,[Reg_C_Explanation]		   =   stg.[Reg_C_Explanation]
  ,[Reg_C_Solution]			   =   stg.[Reg_C_Solution]
  ,[Reg_C_Solution_Source]	   =   stg.[Reg_C_Solution_Source]
  ,[Reg_D_Classification]	   =   CASE WHEN stg.[Reg_D_Classification] = 'Yes' THEN 1 ELSE 0 END
  ,[Reg_D_Explanation]		   =   stg.[Reg_D_Explanation]
  ,[Reg_D_Solution]			   =   stg.[Reg_D_Solution]
  ,[Reg_D_Solution_Source]	   =   stg.[Reg_D_Solution_Source]
  ,[Reg_E_Classification]	   =   CASE WHEN stg.[Reg_E_Classification] = 'Yes' THEN 1 ELSE 0 END
  ,[Reg_E_Explanation]		   =   stg.[Reg_E_Explanation]
  ,[Reg_E_Solution]			   =   stg.[Reg_E_Solution]
  ,[Reg_E_Solution_Source]	   =   stg.[Reg_E_Solution_Source]
  ,[Reg_F_Classification]	   =   CASE WHEN stg.[Reg_F_Classification] = 'Yes' THEN 1 ELSE 0 END
  ,[Reg_F_Explanation]		   =   stg.[Reg_F_Explanation]
  ,[Reg_F_Solution]			   =   stg.[Reg_F_Solution]
  ,[Reg_F_Solution_Source]	   =   stg.[Reg_F_Solution_Source]
  ,[Reg_G_Classification]	   =   CASE WHEN stg.[Reg_G_Classification] = 'Yes' THEN 1 ELSE 0 END
  ,[Reg_G_Explanation]		   =   stg.[Reg_G_Explanation]
  ,[Reg_G_Solution]			   =   stg.[Reg_G_Solution]
  ,[Reg_G_Solution_Source]	   =   stg.[Reg_G_Solution_Source]
  ,[Reg_H_Classification]	   =   CASE WHEN stg.[Reg_H_Classification] = 'Yes' THEN 1 ELSE 0 END
  ,[Reg_H_Explanation]		   =   stg.[Reg_H_Explanation]
  ,[Reg_H_Solution]			   =   stg.[Reg_H_Solution]
  ,[Reg_H_Solution_Source]	   =   stg.[Reg_H_Solution_Source]
  ,[Reg_I_Classification]	   =   CASE WHEN stg.[Reg_I_Classification] = 'Yes' THEN 1 ELSE 0 END
  ,[Reg_I_Explanation]		   =   stg.[Reg_I_Explanation]
  ,[Reg_I_Solution]			   =   stg.[Reg_I_Solution]
  ,[Reg_I_Solution_Source]	   =   stg.[Reg_I_Solution_Source]
  ,[Reg_J_Classification]	   =   CASE WHEN stg.[Reg_J_Classification] = 'Yes' THEN 1 ELSE 0 END
  ,[Reg_J_Explanation]		   =   stg.[Reg_J_Explanation]
  ,[Reg_J_Solution]			   =   stg.[Reg_J_Solution]
  ,[Reg_J_Solution_Source]	   =   stg.[Reg_J_Solution_Source]
  ,[Reg_K_Classification]	   =   CASE WHEN stg.[Reg_K_Classification] = 'Yes' THEN 1 ELSE 0 END
  ,[Reg_K_Explanation]		   =   stg.[Reg_K_Explanation]
  ,[Reg_K_Solution]			   =   stg.[Reg_K_Solution]
  ,[Reg_K_Solution_Source]	   =   stg.[Reg_K_Solution_Source]
  ,[Reg_L_Classification]	   =   CASE WHEN stg.[Reg_L_Classification] = 'Yes' THEN 1 ELSE 0 END
  ,[Reg_L_Explanation]		   =   stg.[Reg_L_Explanation]
  ,[Reg_L_Solution]			   =   stg.[Reg_L_Solution]
  ,[Reg_L_Solution_Source]	   =   stg.[Reg_L_Solution_Source]
  ,[Reg_M_Classification]	   =   CASE WHEN stg.[Reg_M_Classification] = 'Yes' THEN 1 ELSE 0 END
  ,[Reg_M_Explanation]		   =   stg.[Reg_M_Explanation]
  ,[Reg_M_Solution]			   =   stg.[Reg_M_Solution]
  ,[Reg_M_Solution_Source]	   =   stg.[Reg_M_Solution_Source]
  ,[Reg_N_Classification]	   =   CASE WHEN stg.[Reg_N_Classification] = 'Yes' THEN 1 ELSE 0 END
  ,[Reg_N_Explanation]		   =   stg.[Reg_N_Explanation]
  ,[Reg_N_Solution]			   =   stg.[Reg_N_Solution]
  ,[Reg_N_Solution_Source]	   =   stg.[Reg_N_Solution_Source]
  ,[Reg_O_Classification]	   =   CASE WHEN stg.[Reg_O_Classification] = 'Yes' THEN 1 ELSE 0 END
  ,[Reg_O_Explanation]		   =   stg.[Reg_O_Explanation]
  ,[Reg_O_Solution]			   =   stg.[Reg_O_Solution]
  ,[Reg_O_Solution_Source]	   =   stg.[Reg_O_Solution_Source]
  ,[Reg_P_Classification]	   =   CASE WHEN stg.[Reg_P_Classification] = 'Yes' THEN 1 ELSE 0 END
  ,[Reg_P_Explanation]		   =   stg.[Reg_P_Explanation]
  ,[Reg_P_Solution]			   =   stg.[Reg_P_Solution]
  ,[Reg_P_Solution_Source]	   =   stg.[Reg_P_Solution_Source]
  ,[Reg_V_Classification]	   =   CASE WHEN stg.[Reg_V_Classification] = 'Yes' THEN 1 ELSE 0 END
  ,[Reg_V_Explanation]		   =   stg.[Reg_V_Explanation]
  ,[Reg_V_Solution]			   =   stg.[Reg_V_Solution]
  ,[Reg_V_Solution_Source]	   =   stg.[Reg_V_Solution_Source]
  ,[Reg_X_Classification]	   =   CASE WHEN stg.[Reg_X_Classification] = 'Yes' THEN 1 ELSE 0 END
  ,[Reg_X_Explanation]		   =   stg.[Reg_X_Explanation]
  ,[Reg_X_Solution]			   =   stg.[Reg_X_Solution]
  ,[Reg_X_Solution_Source]	   =   stg.[Reg_X_Solution_Source]
  ,[Reg_Z_Classification]	   =   CASE WHEN stg.[Reg_Z_Classification] = 'Yes' THEN 1 ELSE 0 END
  ,[Reg_Z_Explanation]		   =   stg.[Reg_Z_Explanation]
  ,[Reg_Z_Solution]			   =   stg.[Reg_Z_Solution]
  ,[Reg_Z_Solution_Source]	   =   stg.[Reg_Z_Solution_Source]
  ,[Reg_CC_Classification]	   =   CASE WHEN stg.[Reg_CC_Classification] = 'Yes' THEN 1 ELSE 0 END
  ,[Reg_CC_Explanation]		   =   stg.[Reg_CC_Explanation]
  ,[Reg_CC_Solution]		   =   stg.[Reg_CC_Solution]
  ,[Reg_CC_Solution_Source]	   =   stg.[Reg_CC_Solution_Source]
  ,[Reg_DD_Classification]	   =   CASE WHEN stg.[Reg_DD_Classification] = 'Yes' THEN 1 ELSE 0 END
  ,[Reg_DD_Explanation]		   =   stg.[Reg_DD_Explanation]
  ,[Reg_DD_Solution]		   =   stg.[Reg_DD_Solution]
  ,[Reg_DD_Solution_Source]	   =   stg.[Reg_DD_Solution_Source]
  ,[Reg_AA_Classification]	   =   CASE WHEN stg.[Reg_AA_Classification] = 'Yes' THEN 1 ELSE 0 END
  ,[Reg_AA_Explanation]		   =   stg.[Reg_AA_Explanation]
  ,[Reg_AA_Solution]		   =   stg.[Reg_AA_Solution]
  ,[Reg_AA_Solution_Source]	   =   stg.[Reg_AA_Solution_Source]
  ,[Loaded_By]				   =   stg.[Loaded_By]
  ,[Cart_Log_Id]			   =   stg.[Cart_Log_Id]
  ,[Update_Date]			   =   @Load_Date	;		


End