USE [Cart2.0]
GO
/****** Object:  StoredProcedure [dbo].[uspload_cart_untagged_complaints]    Script Date: 3/7/2025 1:31:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[uspload_cart_email]
As
BEGIN

Declare @Load_Date Datetime = Getdate()

MERGE dbo.cart_email as email
USING dbo.cart_email_stage AS stg
on email.[Complaint_ID] = stg.[Complaint_ID]


WHEN NOT MATCHED BY Target THEN
Insert
(
   [Complaint_ID]
  ,[Feedback]
  ,[Email_Response]
  ,[Email_HTML]
  ,[Loaded_By]
  ,[Cart_Log_Id]
  ,Load_Date
)

Values
(
   stg.[Complaint_ID]
  ,stg.[Feedback]
  ,stg.[Email_Response]
  ,stg.[Email_HTML]
  ,stg.[Loaded_By]
  ,stg.[Cart_Log_Id]
  ,@Load_Date
)

WHEN  MATCHED THEN

UPDATE SET
   [Complaint_ID]        =   stg.[Complaint_ID]     
  ,[Feedback]			 =   stg.[Feedback]
  ,[Email_Response]      =   stg.[Email_Response]            
  ,[Email_HTML]	         =   stg.[Email_HTML]	            
  ,[Loaded_By]           =   stg.[Loaded_By]           
  ,[Cart_Log_Id]         =   stg.[Cart_Log_Id]
  ,[Update_Date]         =   @Load_Date	;



END

