USE [Cart2.0]
GO
/****** Object:  StoredProcedure [dbo].[uspload_cart_cfpb_complaints_reg_summary]    Script Date: 3/11/2025 9:07:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[uspload_cart_cfpb_complaints_reg_summary]
AS
BEGIN
    SET NOCOUNT ON;

    -- Declare Load Date
    DECLARE @Load_Date DATETIME = GETDATE();

    -- Temporary table for transformed data
    CREATE TABLE #Temp_Summary
    (
        Complaint_ID         INT PRIMARY KEY,
        Complaint_Text       VARCHAR(MAX),
        Company              VARCHAR(110),
        State                VARCHAR(110),
        Zip_Code             VARCHAR(10),
        Summarized_Complaint VARCHAR(MAX),
        Total_Regulations    INT,
        Regulation_Names     VARCHAR(MAX),
		Explanations         VARCHAR(MAX),
        Solutions            VARCHAR(MAX),
        Loaded_By            VARCHAR(10),
        Cart_Log_Id          INT,
        Load_Date            DATETIME
    );

    -- Insert transformed data into temp table
    INSERT INTO #Temp_Summary
    SELECT 
        Complaint_ID         =  c.Complaint_ID,
        Complaint_Text       =  c.Complaint_Text,
        Company              =  c.Company,
        [State]              =  c.State,
        Zip_Code             =  c.Zip_Code,
        Summarized_Complaint =  c.Summarized_Complaint,
        
        -- Count the total number of applicable regulations (Classification = 1)
       Total_Regulations     =  Isnull(( 
                                  SELECT COUNT(*) 
                                  FROM (VALUES 
                                      (c.Reg_B_Classification), (c.Reg_C_Classification), (c.Reg_D_Classification),
                                      (c.Reg_E_Classification), (c.Reg_F_Classification), (c.Reg_G_Classification),
                                      (c.Reg_H_Classification), (c.Reg_I_Classification), (c.Reg_J_Classification),
                                      (c.Reg_K_Classification), (c.Reg_L_Classification), (c.Reg_M_Classification),
                                      (c.Reg_N_Classification), (c.Reg_O_Classification), (c.Reg_P_Classification),
                                      (c.Reg_V_Classification), (c.Reg_X_Classification), (c.Reg_Z_Classification),
                                      (c.Reg_CC_Classification), (c.Reg_DD_Classification), (c.Reg_AA_Classification)
                                  ) AS x(Classification) WHERE x.Classification = 1
                                 ),0) ,

        -- Concatenate regulation names where classification is 1
       Regulation_Names      =  STUFF((
                                        SELECT ', ' + RegName
                                        FROM (VALUES 
                                            ('Reg_B', c.Reg_B_Classification), ('Reg_C', c.Reg_C_Classification), ('Reg_D', c.Reg_D_Classification),
                                            ('Reg_E', c.Reg_E_Classification), ('Reg_F', c.Reg_F_Classification), ('Reg_G', c.Reg_G_Classification),
                                            ('Reg_H', c.Reg_H_Classification), ('Reg_I', c.Reg_I_Classification), ('Reg_J', c.Reg_J_Classification),
                                            ('Reg_K', c.Reg_K_Classification), ('Reg_L', c.Reg_L_Classification), ('Reg_M', c.Reg_M_Classification),
                                            ('Reg_N', c.Reg_N_Classification), ('Reg_O', c.Reg_O_Classification), ('Reg_P', c.Reg_P_Classification),
                                            ('Reg_V', c.Reg_V_Classification), ('Reg_X', c.Reg_X_Classification), ('Reg_Z', c.Reg_Z_Classification),
                                            ('Reg_CC', c.Reg_CC_Classification), ('Reg_DD', c.Reg_DD_Classification), ('Reg_AA', c.Reg_AA_Classification)
                                        ) AS r(RegName, Classification)
                                        WHERE r.Classification = 1
                                        FOR XML PATH(''), TYPE).value('.', 'NVARCHAR(MAX)'), 1, 2, ''),
        -- Concatenate regulation names where classification is 1
        -- Concatenate solutions with two-line spacing and headers
       Explanations             =  STUFF((
                                       SELECT CHAR(10) + CHAR(10) + 
                                              '____________________' + RegName + '_______________' + CHAR(10) + Explanation
                                       FROM (VALUES 
                                           ('Reg_B', c.Reg_B_Classification, c.Reg_B_Explanation), ('Reg_C', c.Reg_C_Classification, c.Reg_C_Explanation),
                                           ('Reg_D', c.Reg_D_Classification, c.Reg_D_Explanation), ('Reg_E', c.Reg_E_Classification, c.Reg_E_Explanation),
                                           ('Reg_F', c.Reg_F_Classification, c.Reg_F_Explanation), ('Reg_G', c.Reg_G_Classification, c.Reg_G_Explanation),
                                           ('Reg_H', c.Reg_H_Classification, c.Reg_H_Explanation), ('Reg_I', c.Reg_I_Classification, c.Reg_I_Explanation),
                                           ('Reg_J', c.Reg_J_Classification, c.Reg_J_Explanation), ('Reg_K', c.Reg_K_Classification, c.Reg_K_Explanation),
                                           ('Reg_L', c.Reg_L_Classification, c.Reg_L_Explanation), ('Reg_M', c.Reg_M_Classification, c.Reg_M_Explanation),
                                           ('Reg_N', c.Reg_N_Classification, c.Reg_N_Explanation), ('Reg_O', c.Reg_O_Classification, c.Reg_O_Explanation),
                                           ('Reg_P', c.Reg_P_Classification, c.Reg_P_Explanation), ('Reg_V', c.Reg_V_Classification, c.Reg_V_Explanation),
                                           ('Reg_X', c.Reg_X_Classification, c.Reg_X_Explanation), ('Reg_Z', c.Reg_Z_Classification, c.Reg_Z_Explanation),
                                           ('Reg_CC', c.Reg_CC_Classification, c.Reg_CC_Explanation), ('Reg_DD', c.Reg_DD_Classification, c.Reg_DD_Explanation),
                                           ('Reg_AA', c.Reg_AA_Classification, c.Reg_AA_Explanation)
                                       ) AS s(RegName, Classification, Explanation)
                                       WHERE s.Classification = 1 AND s.Explanation IS NOT NULL
                                       FOR XML PATH(''), TYPE).value('.', 'NVARCHAR(MAX)'), 1, 2, ''),
        -- Concatenate solutions with two-line spacing and headers
       Solutions             =  STUFF((
                                       SELECT CHAR(10) + CHAR(10) + 
                                              '____________________' + RegName + '_______________' + CHAR(10) + Solution
                                       FROM (VALUES 
                                           ('Reg_B', c.Reg_B_Classification, c.Reg_B_Solution), ('Reg_C', c.Reg_C_Classification, c.Reg_C_Solution),
                                           ('Reg_D', c.Reg_D_Classification, c.Reg_D_Solution), ('Reg_E', c.Reg_E_Classification, c.Reg_E_Solution),
                                           ('Reg_F', c.Reg_F_Classification, c.Reg_F_Solution), ('Reg_G', c.Reg_G_Classification, c.Reg_G_Solution),
                                           ('Reg_H', c.Reg_H_Classification, c.Reg_H_Solution), ('Reg_I', c.Reg_I_Classification, c.Reg_I_Solution),
                                           ('Reg_J', c.Reg_J_Classification, c.Reg_J_Solution), ('Reg_K', c.Reg_K_Classification, c.Reg_K_Solution),
                                           ('Reg_L', c.Reg_L_Classification, c.Reg_L_Solution), ('Reg_M', c.Reg_M_Classification, c.Reg_M_Solution),
                                           ('Reg_N', c.Reg_N_Classification, c.Reg_N_Solution), ('Reg_O', c.Reg_O_Classification, c.Reg_O_Solution),
                                           ('Reg_P', c.Reg_P_Classification, c.Reg_P_Solution), ('Reg_V', c.Reg_V_Classification, c.Reg_V_Solution),
                                           ('Reg_X', c.Reg_X_Classification, c.Reg_X_Solution), ('Reg_Z', c.Reg_Z_Classification, c.Reg_Z_Solution),
                                           ('Reg_CC', c.Reg_CC_Classification, c.Reg_CC_Solution), ('Reg_DD', c.Reg_DD_Classification, c.Reg_DD_Solution),
                                           ('Reg_AA', c.Reg_AA_Classification, c.Reg_AA_Solution)
                                       ) AS s(RegName, Classification, Solution)
                                       WHERE s.Classification = 1 AND s.Solution IS NOT NULL
                                       FOR XML PATH(''), TYPE).value('.', 'NVARCHAR(MAX)'), 1, 2, ''),

        Loaded_By             =  c.Loaded_By,
        Cart_Log_Id           =  c.Cart_Log_Id,
        Load_Date             =  @Load_Date

    FROM dbo.cart_cfpb_complaints_reg c;

    -- Merge data into the summarized table
    MERGE INTO dbo.cart_cfpb_complaints_reg_summarized AS target
    USING #Temp_Summary AS source
    ON target.Complaint_ID = source.Complaint_ID
    WHEN MATCHED THEN
        UPDATE SET
            target.Complaint_Text       = source.Complaint_Text,
            target.Company              = source.Company,
            target.State                = source.State,
            target.Zip_Code             = source.Zip_Code,
            target.Summarized_Complaint = source.Summarized_Complaint,
            target.Total_Regulations    = source.Total_Regulations,
            target.Regulation_Names     = source.Regulation_Names,
			target.Explanations         = source.Explanations,
            target.Solutions            = source.Solutions,
            target.Loaded_By            = source.Loaded_By,
            target.Cart_Log_Id          = source.Cart_Log_Id,
            target.Load_Date            = source.Load_Date
    WHEN NOT MATCHED THEN
        INSERT 
		(
            Complaint_ID, 
			Complaint_Text, 
			Company, 
			State, 
			Zip_Code, 
            Summarized_Complaint, 
			Total_Regulations, 
			Regulation_Names, 
			Explanations,
			Solutions, 
            Loaded_By, 
			Cart_Log_Id, 
			Load_Date
        )
        VALUES (
                 source.Complaint_ID, 
			     source.Complaint_Text, 
				 source.Company, 
				 source.State, 
				 source.Zip_Code, 
                 source.Summarized_Complaint, 
				 source.Total_Regulations, 
				 source.Regulation_Names, 
				 source.Explanations,
				 source.Solutions, 
                 source.Loaded_By, 
				 source.Cart_Log_Id, 
				 source.Load_Date
               );

    -- Drop temp table
    DROP TABLE #Temp_Summary;

END;
